<!--
  Generated template for the AddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar color="primary">
		<ion-title>{{'INSTANT_PROPERTY_VALUATION' | translate}}</ion-title>
		<ion-buttons end (click)="switchLanguage()">
			<button round ion-button icon-start>
				<ion-icon name="md-globe"></ion-icon>
				{{"language" | translate }}
			</button>
		</ion-buttons>
	</ion-navbar>

</ion-header>


<ion-content>
	<ion-stepper no-padding #stepper (selectIndexChange)="selectChange($event)">
		<ion-step label="{{'CATEGORY' | translate}}" description="">
			
			<ion-list radio-group [(ngModel)]="listing.listing_type">


				<ion-item>
					<ion-label>{{'SALE' | translate}}</ion-label>
					<ion-radio value="sale"></ion-radio>
				</ion-item>

				<ion-item>
					<ion-label>{{'RENT' | translate}}</ion-label>
					<ion-radio value="rent"></ion-radio>
				</ion-item>


			</ion-list>

			<div>
				<ion-row justify-content-between>
					<button round color="light" ion-button ionicStepperPrevious>{{'BACK' | translate}}</button>
					<button round ion-button ionicStepperNext [disabled]="listing.listing_type == ''">{{'NEXT' | translate}}</button>
				</ion-row>
			</div>
			
			
		</ion-step>
		<ion-step label="{{'PROPERTY_TYPE' | translate}}">
			<ion-list radio-group [(ngModel)]="listing.property_type">


				<ion-item>
					<ion-label>{{'HOUSE' | translate}}</ion-label>
					<ion-radio value="house"></ion-radio>
				</ion-item>

				<ion-item>
					<ion-label>{{'LAND' | translate}}</ion-label>
					<ion-radio value="land"></ion-radio>
				</ion-item>

				<ion-item>
					<ion-label>{{'APARTMENT' | translate}}</ion-label>
					<ion-radio value="apartment"></ion-radio>
				</ion-item>

				<ion-item>
					<ion-label>{{'COMMERCIAL' | translate}}</ion-label>
					<ion-radio value="commercial"></ion-radio>
				</ion-item>

				

			</ion-list>
			<div>
				<ion-row justify-content-between>
					<button round color="light" ion-button ionicStepperPrevious>{{'BACK' | translate}}</button>
					<button round ion-button ionicStepperNext [disabled]="listing.property_type == ''">{{'NEXT' | translate}}</button>
				</ion-row>
			</div>
		</ion-step>
		<ion-step label="{{'LOCATION' | translate}}" description="">
			<ion-item>
				<ion-label>{{"PROVINCE" | translate}}</ion-label>

				<ion-select [(ngModel)]="listing.province" (ionChange)="provinceChange()" interface="popover">
					<ion-option *ngFor="let p of provinces" [value] = "p.id">{{p.id | translate}}</ion-option>
				</ion-select>
			</ion-item>

			<ion-item>
				<ion-label>{{"DISTRICT" | translate}}</ion-label>

				<ion-select [(ngModel)]="listing.district" (ionChange)="districtChange()"  interface="popover">
					<ion-option *ngFor="let d of districts" [value] = "d.id">{{d.id | translate}}</ion-option>
				</ion-select>
			</ion-item>
			<ion-item>
				<ion-label>{{"COMMUNE" | translate}}</ion-label>

				<ion-select [(ngModel)]="listing.commune" interface="popover">
					<ion-option *ngFor="let c of communes" [value] = "c.id">{{c.id | translate}}</ion-option>
				</ion-select>
			</ion-item>
			

			<div>
				<ion-row justify-content-between>
					<button round color="light" ion-button ionicStepperPrevious>{{'BACK' | translate}}</button>
					<button round ion-button ionicStepperNext [disabled]="listing.province == ''">{{'NEXT' | translate}}</button>
				</ion-row>
			</div>

		</ion-step>
		<ion-step label="{{'DETAIL' | translate}}" description="">
			<div *ngIf="listing.property_type == 'house' || listing.property_type == 'apartment' || listing.property_type == 'commercial' || listing.property_type == 'room'">
				<label ion-item no-padding>
					<ion-label>{{'BEDROOMS' | translate}}</ion-label>
					<ion-input [(ngModel)]="listing.bedrooms" class="right-align" style="text-align: right;" type="number"></ion-input>
				</label>
				<label ion-item no-padding>
					<ion-label>{{'BATHROOMS' | translate}}</ion-label>
					<ion-input [(ngModel)]="listing.bathrooms" class="right-align" style="text-align: right;" type="number"></ion-input>
				</label>
			</div>
			<label ion-item no-padding>
				<ion-label>{{'SIZE' | translate}}</ion-label>
				<ion-input [(ngModel)]="listing.size" class="right-align" style="text-align: right;" type="number"></ion-input>
			</label>
			

			<div>
				<ion-row justify-content-between>
					<button round color="light" ion-button ionicStepperPrevious>{{'BACK' | translate}}</button>
					<button round ion-button ionicStepperNext>{{'NEXT' | translate}}</button>
				</ion-row>
			</div>
		</ion-step>

		<ion-step label="{{'FEATURE' | translate}}" description="">
			
			
			<ion-item no-padding>
				<ion-label>{{'on_main_road' | translate}}</ion-label>
				<ion-checkbox [(ngModel)]="listing.on_main_road"></ion-checkbox>
			</ion-item>
			<ion-item no-padding>
				<ion-label>{{'in_rural_area' | translate}}</ion-label>
				<ion-checkbox [(ngModel)]="listing.in_rural_area"></ion-checkbox>
			</ion-item>
			<ion-item no-padding>
				<ion-label>{{'in_city' | translate}}</ion-label>
				<ion-checkbox [(ngModel)]="listing.in_city"></ion-checkbox>
			</ion-item>
			<ion-item no-padding>
				<ion-label>{{'no_furnished' | translate}}</ion-label>
				<ion-checkbox [(ngModel)]="listing.no_furnished"></ion-checkbox>
			</ion-item>
			<ion-item no-padding>
				<ion-label>{{'average_price_furnished' | translate}}</ion-label>
				<ion-checkbox [(ngModel)]="listing.average_price_furnished"></ion-checkbox>
			</ion-item>
			<ion-item no-padding>
				<ion-label>{{'high_price_furnished' | translate}}</ion-label>
				<ion-checkbox [(ngModel)]="listing.high_price_furnished"></ion-checkbox>
			</ion-item>
			<ion-item no-padding>
				<ion-label>{{'has_title' | translate}}</ion-label>
				<ion-checkbox [(ngModel)]="listing.has_title"></ion-checkbox>
			</ion-item>
			<div>
				<ion-row justify-content-between>
					<button round color="light" ion-button ionicStepperPrevious>{{'BACK' | translate}}</button>
					<button round ion-button ionicStepperNext>{{'NEXT' | translate}}</button>
				</ion-row>
			</div>
		</ion-step>

		<ion-step label="{{'CONTACT' | translate}}" description="">
			
			<label ion-item no-padding *ngIf="listing.userType == 'agency'">
				<ion-label floating>{{'AGENCY_NAME' | translate}}</ion-label>
				<ion-input type="text" [(ngModel)]="listing.agencyName"></ion-input>
			</label>
			<label ion-item no-padding>
				<ion-label >{{'NAME' | translate}}</ion-label>
				<ion-input [(ngModel)]="listing.displayName" class="right-align" type="text"></ion-input>
			</label>
			<label ion-item no-padding>
				<ion-label>{{'PHONE' | translate}} 1</ion-label>
				<ion-input [(ngModel)]="listing.phone1" class="right-align" style="text-align: right;" type="text"></ion-input>
			</label>
			<label ion-item no-padding>
				<ion-label>{{'PHONE' | translate}} 2</ion-label>
				<ion-input [(ngModel)]="listing.phone2" class="right-align" style="text-align: right;" type="text"></ion-input>
			</label>

			
			<div>
				<ion-row justify-content-between>
					<button round color="light" ion-button ionicStepperPrevious>{{'BACK' | translate}}</button>
					<button round ion-button ionicStepperNext [disabled]="listing.displayName == '' || listing.phone1 == ''">{{'NEXT' | translate}}</button>
				</ion-row>
			</div>
		</ion-step>


		
		

		<ion-step label="{{'MAP' | translate}}" description="">
			
			<ion-item no-padding>
				<ion-label stacked>{{'ADDRESS' | translate}}</ion-label>
				<ion-textarea (ionChange)="runTimeChange()" rows="3" maxLength="500" [(ngModel)]="listing.address">{{listing.district | translate}}</ion-textarea>
			</ion-item>

			<div #map id="map" style="position: relative">
				<img src="assets/imgs/marker.png" style="position:absolute;left:50%;bottom:50%;width:25px;height:40px" />
			</div>
			<ion-item no-padding>
				<ion-label>{{'SEND_TO_AGENTS' | translate}}</ion-label>
				<ion-checkbox [(ngModel)]="listing.send_to_agents"></ion-checkbox>
			</ion-item>
			<div>
				<ion-row justify-content-between>
					<button round color="light" ion-button ionicStepperPrevious>{{'BACK' | translate}}</button>
					<button round ion-button color="secondary" (click)="addInstantPropertyValuation()">{{'VALUATE' | translate}}</button>
				</ion-row>
			</div>
		</ion-step>
	</ion-stepper>
</ion-content>
