page-detail {


	.accordion {
		font-family:Arial, Helvetica, sans-serif; 
		margin:10px;
		font-size:14px;
		border:1px solid #542437;
		border-radius:10px;
		width:95%;
		padding:10px;
		background:#fff;
	}
	.accordion ul {
		list-style:none;
		margin:0;
		padding:0;    
	}
	.accordion li {
		margin:0;
		padding:0;
	}
	.accordion [type=radio], .accordion [type=checkbox] {
		display:none;
	}
	.accordion label {
		display:block;
		font-size:16px;
		line-height:16px;
		background:rgba(0, 31, 162, 0.8);
		border:1px solid #542437;
		color:#fff;
		text-shadow:1px 1px 1px rgba(255,255,255,0.3);
		font-weight:700;
		cursor:pointer;
		text-transform:uppercase;
		-webkit-transition: all .2s ease-out;
		-moz-transition: all .2s ease-out;
	}
	.accordion ul li label:hover, .accordion [type=radio]:checked ~ label, .accordion [type=checkbox]:checked ~ label {
		background:rgba(0, 31, 162, 1);
		color:#FFF;
		text-shadow:1px 1px 1px rgba(0,0,0,0.5)
	}
	.accordion .content {
		padding:0 10px;
		overflow:hidden;
		border:1px solid #fff; /* Make the border match the background so it fades in nicely */
		-webkit-transition: all .5s ease-out;
		-moz-transition: all .5s ease-out;
	}
	.accordion p {
		color:#333;
		margin:0 0 10px;
	}
	.accordion h3 {
		color:#542437;
		padding:0;
		margin:10px 0;
	}


	/* Vertical */
	.vertical ul li {
		overflow:hidden;
		margin:0 0 1px;
	}
	.vertical ul li label {
		padding:10px;
	}
	.vertical [type=radio]:checked ~ label, .vertical [type=checkbox]:checked ~ label {
		border-bottom:0;
	}
	.vertical ul li label:hover {
		border:1px solid #542437; /* We don't want the border to disappear on hover */
	}
	.vertical ul li .content {
		height:0px;
		border-top:0;
	}
	.vertical [type=radio]:checked ~ label ~ .content, .vertical [type=checkbox]:checked ~ label ~ .content {
		height:700px;
		border:1px solid #542437;
	}

	.slide-zoom {
		height: 100%;
	}

	ion-slides.listing-images {
		height: 250px;
	}

	h1{
		line-height: 40px;
	}

	h2{
		font-size: 16px !important;
		height: 25px;
		padding: 5px;
		width: 100%;
		// text-align: center;
		// line-height: 40px;
	}	

	.price{
		font-weight: bold;
		color: red;
		font-size: 20px !important;
		margin: 20px 0px 0px 0px;
	}

	ion-note{
		color: black !important;
		font-family: battambang;
	}

	p{
		font-size: 15px !important;
		line-height: 25px !important;
	}



	.item-list{
		
		height: 25px !important;
		min-height: 30px !important;
		font-size: 12px !important;
	}

	.border{
		border-top: 1px dashed #cecece !important;
	}

	.description{
		color: black;
	}

	.item-header{
		font-style: italic;
		font-weight: bold;
		font-size: 17px;
		// line-height: 40px;
		// height: 50px;
	}

	.large-height{
		
		height: 50px !important;
		// line-height: 40px !important;
	}

	.profile-img{
		border-radius: 50%;
		width: 200px;
		height: 200px;
	}

	.name-label{
		font-size: 17px;
		color: #cecece;
		// line-height: px;
	}
	ion-header.image-header {
		.toolbar {
			position: absolute;

			.toolbar-background {
				background: transparent;
			}
			.toolbar-title {
				color: black;
			}
		}
	}
}
